<main class="container">
  <span class="card" (click)="onSyncAction()">Sync action</span>
  <span class="card" (click)="onAsyncAction()">Async action</span>
</main>

<div *ngIf="randomName$ | async as randomName" class="card--transparent">
  {{ randomName }}
</div>

<div *ngIf="data$ | async as todos">
  <div *ngFor="let todo of todos" class="card--transparent">
    {{ todo.description }}
  </div>
</div>
